<div class="question">
  <div class="question-content">
    <%# Текст вопроса %>
    <div class="question-text text-lead">
      <%= question.text %>
    </div>

    <%# Текст ответа, если он есть %>
    <% if question.answer.present? %>
        <div class="question-answer text-lead">
          <%= question.answer %>
        </div>
    <% end %>

    <%# Дата создания вопроса (отформатированная) %>
    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>

    <%# Username автора вопроса %>
    <% if question.author.present? && question.author != current_user %>
        <div class="question-author">
          <%= link_to "@#{question.author.username}", user_path(question.author) %>
        </div>
    <% elsif question.author.present? && question.author == current_user %>
        <div class="question-author">
          <%= "@#{question.author.username}" %>
        </div>
    <% else %>
        <div class="question-author">
          <%= question.ip %>
        </div>
    <% end %>
  </div>

  <% if question.user == current_user %>
      <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

      <div class="question-actions">
        <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
        <%= link_to fa_icon('trash-o'), question_path(question),
                    method: :delete, data: {confirm: 'Вы точно хотите удалить вопрос?'} %>
      </div>
  <% end %>
</div>
